@import './variable';

body {
  background-color: $grayColor;
}

.attention {
  color: $cautionColor;
}

header {
  width: 100%;
  height: 100px;
  color: $whiteColor;
  background-color: $themeColor;
  text-align: center;
  .modal-show {
    line-height: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid $whiteColor;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 25px;
    transition: 0.3s;
  }
  .modal-show:hover {
    cursor: pointer;
    color: $themeColor;
    border-color: $themeColor;
    background-color: $whiteColor;
  }
  .site-title {
    font-size: 30px;
    line-height: 100px;
    
  }
}

.modal {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  &__content {
    width: 40%;
    padding: 5%;
    box-sizing: border-box;
    color: $textColor;
    background-color: $grayColor;
    box-shadow: 0 1px 5px $shadowColor;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
    &__close-btn {
      text-align: center;
      padding: 10px;
      width: 15px;
      height: 15px;
      border: 1px solid $textColor;
      border-radius: 50%;
      position: absolute;
      top: 5%;
      right: 5%;
      transition: 0.3s;
    }
    &__close-btn:hover {
      cursor: pointer;
      color: $whiteColor;
      border-color: $whiteColor;
      background-color: $textColor;
    }
    &__textBox__greet {
      font-size: 20px;
      margin-bottom: 7%;
    }
    &__textBox__info {
      font-size: 15px;
      line-height: 35px;  
    }
  }
}


.search {
  height: 100px;
  width: 100%;
  background-color: $whiteColor;
  box-shadow: 0 1px 5px $shadowColor;
  position: absolute;
  &__inner {
    width: 80%;
    margin: 25px auto;
  }
  &__inputArea {
    width: 100%;
    display: inline-flex;
    &__inputWord {
      width: 100%;
      font-size: 20px;
      padding: 10px;
      border: 1px solid;
      border-color: $themeColor;
    }
    &__btn {
      background-color: $themeColor;
      border-color: $themeColor;
      color: $whiteColor;
      font-size: 15px;
      transition: 0.3s;
    }
    &__inputWord, &__btn:focus {
      outline: none;
    }
    &__btn:hover {
      cursor: pointer;
      background-color: #6bbaee;
      border-color: #6bbaee;
    }
  }
}

.lists {
  margin-top: 15%;
  width: 100%;
  height: 100%;
  list-style: none;
  &__item {
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    vertical-align: top;
    text-align: center;
    margin-bottom: 5%;
    &__inner {
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
    }
    &__link {
      display: block;
      text-decoration: none;
    }
    &__link:hover {
      opacity: 0.7;
    }
    &__img {
      margin-bottom: 20px;
      width: 100%;
      max-width: 150px;
      box-shadow: 0 1px 5px $shadowColor;
    }
    &__detail {
      font-size: 12px;
      margin-bottom: 10px;
      color: $textColor;
      text-align: left;
    }
  }
  & .error-message {
    display: none;
    text-align: center;
    color: $cautionColor;
    & span {
      display: inline-block;
      width: 20px;
      height: 20px;
      font-size: 20px;
      border: 1px solid $cautionColor;
      border-radius: 50%;
      padding: 5px;
      margin-right: 10px;
    }
  }
}
.stickItem {
  position: fixed;
  top: 0;
  z-index: 10;
}