body {
  background-color: whitesmoke;
}

.attention {
  color: rgb(247, 93, 93);
}

header {
  width: 100%;
  height: 100px;
  color: white;
  background-color: rgb(57, 163, 233);
  text-align: center;
  .modal-show {
    line-height: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 25px;
    transition: 0.3s;
  }
  .modal-show:hover {
    cursor: pointer;
    color: #39a3e9;
    border-color: #39a3e9;
    background-color: white;
  }
  .site-title {
    font-size: 30px;
    line-height: 100px;
    
  }
}

.modal {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  &__content {
    width: 40%;
    padding: 5%;
    box-sizing: border-box;
    color: rgb(126, 125, 125);
    background-color: whitesmoke;
    box-shadow: 0 1px 5px #ccc;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
    &__close-btn {
      text-align: center;
      padding: 10px;
      width: 15px;
      height: 15px;
      border: 1px solid rgb(126, 125, 125);
      border-radius: 50%;
      position: absolute;
      top: 5%;
      right: 5%;
      transition: 0.3s;
    }
    &__close-btn:hover {
      cursor: pointer;
      color: white;
      border-color: white;
      background-color: rgb(126, 125, 125);
    }
    &__textBox__greet {
      font-size: 20px;
      margin-bottom: 7%;
    }
    &__textBox__info {
      font-size: 15px;
      line-height: 35px;  
    }
  }
}


.search {
  height: 100px;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 5px #ccc;
  position: absolute;
  &__inner {
    width: 80%;
    margin: 25px auto;
  }
  &__inputArea {
    width: 100%;
    display: inline-flex;
    &__inputWord {
      width: 100%;
      font-size: 20px;
      padding: 10px;
      border: 1px solid;
      border-color: #39a3e9;
    }
    &__btn {
      background-color: #39a3e9;
      border-color: #39a3e9;
      color: white;
      font-size: 15px;
      transition: 0.3s;
    }
    &__inputWord, &__btn:focus {
      outline: none;
    }
    &__btn:hover {
      cursor: pointer;
      background-color: #6bbaee;
      border-color: #6bbaee;
    }
  }
}

.lists {
  margin-top: 15%;
  width: 100%;
  height: 100%;
  list-style: none;
  &__item {
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    vertical-align: top;
    text-align: center;
    margin-bottom: 5%;
    &__inner {
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
    }
    &__link {
      display: block;
      text-decoration: none;
    }
    &__img {
      margin-bottom: 20px;
      width: 100%;
      max-width: 150px;
      box-shadow: 0 1px 5px #ccc;
    }
    &__detail {
      font-size: 12px;
      margin-bottom: 10px;
      color: rgb(104, 101, 101);
      text-align: left;
    }
  }
}
.stickItem {
  position: fixed;
  top: 0;
}