@import './variable';

body {
  background-color: $grayColor;
}

.attention {
  color: $cautionColor;
}

.no-scroll {
  overflow: hidden;
}

// 共通部分
.btn-default {
  width: 80px;
  font-size: 15px;
  text-align: center;
}

.is-hide {
  display: none;
}

.is-full-width {
  width: 100%;
}

.is-align-center {
  text-align: center;
}

.circle-item {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid;
  border-radius: 50%;
}

.header, .btn-default, .modal button:hover {
  color: $whiteColor;
  background-color: $themeColor;
}

.lists__item__link, .search__inputArea {
  border: 1px solid $themeColor;
}

.search__inputArea__btn:hover, .show-more__btn:hover {
  opacity: 0.7;
}

.show-more__btn, .search__inputArea__btn {
  transition: opacity 0.3s;
}

.modal-show, .modal button {
  transition: background-color 0.3s, color 0.3s;
}

// ヘッダー
.header {
  height: 100px;
  .modal-show {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 5%;
    top: 25px;
  }
  .modal-show:hover {
    color: $themeColor;
    background-color: $whiteColor;
  }
  .site-title {
    font-size: 30px;
    line-height: 100px;
  }
}

// モーダル
.modal {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  &__content {
    width: 400px;
    color: $textColor;
    background-color: $grayColor;
    margin: 0 auto;
    margin-top: 10%;
    &__inner {
      width: 80%;
      margin: 0 auto;
      &__top-area {
        text-align: right;
        margin-right: -28px;
        padding: 10px 0;
        & button {
          color: $themeColor;
        }
      }
      &__textBox {
        padding-bottom: 40px;
        & h2 {
          font-size: 20px;
        }
        & p {
          margin-top: 20px;
          font-size: 15px;
          line-height: 35px;
        }
      }
    }
  }
}

// 検索バー
.search {
  background-color: $whiteColor;
  box-shadow: 0 1px 5px $shadowColor;
  position: absolute;
  &__inner {
    width: 80%;
    margin: 25px auto;
  }
  &__inputArea {
    display: flex;
    &__inputWord {
      padding: 10px;
    }
    &__btn {
      padding: 0 6px;
    }
  }
}

.stickItem {
  position: fixed;
  top: 0;
  z-index: 10;
}

// 検索結果表示欄
.lists {
  margin-top: 10%;
  height: 100%;
  &__item {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-top: 5%;
    &__link {
      display: block;
      max-width: 200px;
      margin: 0 auto;
      background-color: $whiteColor;
      transition: transform 0.3s, box-shadow 0.3s;
    }
    &__link:hover {
      transform: translateY(-5px);
      box-shadow: 5px 5px 10px $shadowColor;
    }
    &__img {
      margin-bottom: 20px;
    }
    &__detail {
      padding: 0 10px;
      font-size: 12px;
      margin-bottom: 10px;
      color: $textColor;
      & span {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
      }
    }
  }
}

// エラーメッセージ
.error-message {
  color: $cautionColor;
  padding-top: 100px;
  & span {
    display: inline-block;
    margin-right: 10px;
  }
}

// show-moreボタン
.show-more {
  width: 30%;
  margin: 30px auto;
  &__btn {
    padding: 15px 0;
  }
}

.disabled {
  background-color: $textColor;
  color: $whiteColor;
}